@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@*@ViewBag.Message*@</h2>
</hgroup>

<article>
    <p>
       The Gifted in Fremont shall promote the interests of gifted and talented children through such activities as:
        sponsoring conferences, workshops and meetings.
        
        promoting improved communication between the school district, school and parent.
        supporting beneficial legislation, frameworks, and policies for gifted children in the public schools. 
        assisting parent groups sponsor special events or programs in their schools for gifted and talented children. 
        sponsoring fund-raisers to support the above activities.
    </p>
    
</article>

<aside>
    <h3>TGIF Board 2012-2013</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>President:  George Taylor</li>
        <li>VP - Membership: Mayflower</li>
        <li>VP - Programs: open</li>
        <li>VP - After School Programs: Sandesh Mehta</li>
        <li>VP - Fundraising: Seeta</li>
        <li>VP - Advocacy: Mary Lin</li>
        <li>VP - Publicity: open</li>
        <li>VP - Technology: Kshitij Saha</li>
        <li>VP - Membership: Sam Leo</li>
        <li>Secretary: Mary Siw</li>
        <li>Auditor: Travis</li>
        <li>GATE Program Specialist: John Hopkins</li>
    </ul>
</aside>