@{
    ViewBag.Title = "Contact";
}


<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h3>
        To contact program/activity Chairs and or TGIF  board members by e-mail, please follow the links below and fill out the form.  
        Please send membership or event registration and PayPal related questions to the Webmaster (towards the bottom of the page).
         <br />
        Feedback - comments on events/enrichment programs/other, including to suggest new events/programs.  
        Please do not use this link for questions specific to your situation on any events/programs - please contact the Chair for the event/program for such reasons.
    </h3>
</hgroup>


<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">President:</span>
        <span><a href="mailto:president@giftedinfremont.com">President@giftedinfremont.com</a></span>
    </p>
    <p>
        <span class="label">VP-Membership:</span>
        <span><a href="mailto:membership@giftedinfremont.com">Membership@giftedinfremont.com</a></span>
    </p>
    <p>
        <span class="label">VP-Fundraising</span>
        <span><a href="mailto:vp_fundraising@giftedinfremont.com">vp_fundraising@giftedinfremont.com</a></span>
    </p>
</section>