<div class="editor-field">
    <h3>Release and Waiver of Liability</h3>
</div>

I hereby give my consent for my child whose name has been submitted below to participate in this program. 
 I, the undersigned, hereby release, waive, discharge and covenant not to sue The Gifted in Fremont, its directors, officers,
 coordinators, employees, instructors, agents, volunteers, and the Fremont Unified School District (hereinafter collectively referred to as "Releasees")
  from all liability arising out of or in connection with the above named student's participation in Workshop or all liability associated with any and 
        all claims related to the above named student's participation in Workshop, whether caused by the negligence of Releasees or otherwise, 
        that may be filed on behalf of or for the above named student. For the purposes of this Release, liability means all claims, 
        demands, losses, causes of action, suits or judgments of any and every kind, whether caused by the negligence of the Releasees or otherwise, 
        that the above named student or anyone on behalf of the above named student may have against the Releasees while participating in Workshop in any way, 
        because of any death, personal injury or illness, or because of any loss or damage to property that occurs during the above described activity.
         I understand that the Fremont Unified School District and The Gifted in Fremont do not provide health, medical and disability benefits or insurance 
        for participants, and release these organizations from any medical liability incurred as a result of the above named student's participation in Workshop.
         I hereby authorize the volunteers and staff associated with the Fremont Unified School District and The Gifted in Fremont to act for me according to their
         best judgment in any emergency requiring attention. I hereby release, waive, discharge and covenant not to sue Releasees from any liability arising out of
         or related to any first-aid treatment or other medical services rendered in connection with an emergency for the above named student during the above 
        described activity. I hereby release, waive, discharge and covenant not to sue Releasees from any and all liability for injuries or illness the above 
        named student incurs as a result of his or her participation in Workshop. I grant and convey to the Fremont Unified School District and The Gifted in 
        Fremont all right, title, and interests in any and all photographs, images, video, or audio recordings of the above named student or voice made by the
         Fremont Unified School District and The Gifted in Fremont in connection with the above named student's participation in Workshop. I further expressly
         agree that this Release is intended to be broad and inclusive as is permitted by the law of the State of California. I further expressly agree that in 
        the event that any clause of provision of this Release is deemed invalid, the enforceability of the remaining provisions of this Release shall not be 
        affected. I, the undersigned, have read and voluntarily sign this Release and further agree that no oral representations, statements or inducements apart
         from this written Release have been made. I attest that I am the only person authorized to access the email address submitted below and that my email
         address and therefore my electronic signature are unique to me. By clicking the I Agree button below, I am attaching my electronic signature to and 
        agreeing to the terms of this Release. I understand that if I do not agree to the terms of this Release, I should click the Cancel button, and discontinue
         my registration. By completing this form and affixing my electronic signature below, I agree to submit the registration form electronically. 
        I understand and agree that by affixing my electronic signature below, this registration form will have the same enforceability, validity, and legal 
        effect as if it were a traditional paper agreement signed by hand.